<%
  scenario = @p.find_scenario_by(id: row.scenario_id)
  colour = @p.find_colour_by_id(scenario.colour_id)
%>
<tr>
  <td class='text-left'>
    <i class='scenario colour-swatch' style='background-color: <%= colour.hex %>'></i>
    <%= scenario.name %>
  </td>
  <td><%= row.total_use_change_PJ.round(2) %></td>
  <td><%= row.per_capita_use_change_GJ.round(2) %></td>
  <td><%= row.percent_use_change.round(2) %></td>
  <td><%= row.percent_use_per_capita_change.round(2) %></td>
</tr>