<a href="https://plot.ly/~<%= o.plotly_user %>/<%= o.plotly_id %>/" target="_blank">
  <img src="https://plot.ly/~<%= o.plotly_user %>/<%= o.plotly_id %>.png" />
</a>
<script data-plotly="<%= o.plotly_user %>:<%= o.plotly_id %>"  src="https://plot.ly/embed.js" async></script>