<tr>
  <td>
    <i class='scenario colour-swatch' style='background-color: <%= row.scenario.colour.hex %>'></i>
    <%= row.scenario.name %>
  </td>
  <td><%= row.total_Mt %></td>
  <td><%= row.per_capita_t %></td>
  <td><%= row.percent %></td>
  <td><%= row.percent_per_capita %></td>
</tr>