<div class='row chart-widget summary'>
  <div class="col-xs-6 projected-totals">
    <h5 class='text-center'>Projected Yearly Emissions</h5>
    <%= render partial: 'shared/plotly_chart_embed', locals: { o: @p.emissions_total.first } %>
  </div>
  <div class="col-xs-6 projected-changes">
    <h5>Projected Changes as of <%= c.years_range.max %></h5>
    <div class='benchmark-toggles'>
      <div class="radio sandals">
        <label>
          <input type="radio" name="benchmark-toggle" value="BaseYr" checked>
          Over <%= c.baseline_year %> (Baseline Year)
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="benchmark-toggle" value="BAU">
          Over
          <i class='colour-swatch scenario'
              style='background-color: <%= @p.find_colour_by_id(@p.bau.colour_id).hex %>'></i>
          <%= @p.bau.name %> (<%= c.years_range.max %>)
        </label>
      </div>
    </div>
    <%= render partial: 'projected_changes_table', collection: @p.summary %>
  </div>
</div>
<div class='row chart-widget by-factor-area-charts'>
  <nav class="navbar navbar-default subnav">
    <h4 class="navbar-text">Emissions by</h4>
    <div class="btn-group toggle" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="radio" name="toggle-factor" id="by-sector" autocomplete="off" checked> Sector
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="toggle-factor" id="by-fuel-type" autocomplete="off"> Fuel Type
      </label>
    </div>
  </nav>
  <div class="pane active" id='by-sector'>
    <%= render partial: 'shared/area_chart', collection: @p.emissions_by_sector %>
    <div class='legend'>
      <%= render partial: 'shared/factor_label', collection: @p.sectors %>
    </div>
  </div>
  <div class="pane" id='by-fuel-type'>
    <%= render partial: 'shared/area_chart', collection: @p.emissions_by_fuel_type %>
    <div class='legend'>
      <%= render partial: 'shared/factor_label', collection: @p.fuel_types %>
    </div>
  </div>
</div>
<div class='row chart-widget maps'>
  <nav class="navbar navbar-default subnav">
    <h4 class="navbar-text">Emissions by Zone</h4>
  </nav>
  <div class='col-xs-5'>
    <%= render partial: 'shared/choropleth_controls', locals: { path: choropleth_data_emissions_path } %>
    <div id='cm1' class='choropleth-map'></div>
  </div>
  <div class='col-xs-5'>
    <%= render partial: 'shared/choropleth_controls', locals: { path: choropleth_data_emissions_path } %>
    <div id='cm2' class='choropleth-map'></div>
  </div>
  <div class='col-xs-2'>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    togglePanes($('.by-factor-area-charts'));
    toggleReductionsTables($('.projected-changes'));

    var
    $mapsContext = $('.chart-widget.maps'),
    map = twinChoropleths(
            $mapsContext,
            18000,
            <%= raw(@p.all_scenarios.to_json(include: :colour)) %>,
            'Tonnes',
            {
              centroidCoordinates: <%= c.municipality_centroid_coordinates %>,
              zoomLevel: <%= c.default_choropleth_zoom_level %>
            }
          );

    toggleMapForms($('.maps'));
    $forms = map.initForms();

    _.each($forms, function(form, i) {
      var $form = $(form);
      if (i === 1) {
        $form.find('#choropleth_params_year').val(<%= c.years_range.max %>);
      }
      $form.submit();
    });

  });
</script>