<div class='row chart-widget sumarry'>
  <div class="col-xs-6 total-emissions">
    <%= render partial: 'shared/plotly_chart_embed', locals: { o: @total_chart } %>
  </div>
  <div class="col-xs-6 summary-statistics">
  </div>
</div>
<div class='row chart-widget by-factor-area-charts'>
  <nav class="navbar navbar-default">
    <p class="navbar-text">Projected emissions broken down by</p>
    <div class="col-xs-2 factor-select">
      <%= select_tag :factor,
        options_for_select([['Sector', 'by-sector'], ['Fuel Type', 'by-fuel-type']], 'by-sector'),
        class: "form-control input-sm fedora panes" %>
    </div>
  </nav>
  <div class="pane active" id='by-sector'>
    <% @by_sector_charts.each do |chart| %>
      <div class="col-xs-4">
        <%= render partial: 'shared/plotly_chart_embed', locals: { o: chart } %>
      </div>
    <% end %>
  </div>
  <div class="pane" id='by-fuel-type'>
    <% @by_fuel_type_charts.each do |chart| %>
      <div class="col-xs-4">
        <%= render partial: 'shared/plotly_chart_embed', locals: { o: chart } %>
      </div>
    <% end %>
  </div>
</div>
<div class='row chart-widget maps'>
  <nav class="navbar navbar-default">
    <%= form_for :choropleth_params, url: choropleth_data_emissions_path, remote: true, method: 'get',
          data: {type: :json}, html: {class: "navbar-form navbar-left", id: 'choropleth-controls'} do |f| %>
      <div class="form-group">
        <div class="year-slider ankle-boots"></div>
        <%= f.label :year, 'Year:' %>
        <%= f.text_field :year, class: 'transparent', readonly: true %>
      </div>
      <div class="form-group">
        <%= f.select :scenario_id, scenario_select_options, {}, {class: 'form-control'} %>
      </div>
      <%= f.submit 'Map!', class: "btn btn-danger" %>
    <% end %>
  </nav>
  <div class='col-xs-6 choropleth-map'></div>
</div>

<script type="text/javascript">
  $(function() {
    togglePanes($('.by-factor-area-charts'));

    var
    $mapsContext = $('.chart-widget.maps'),
    map = choropleth($mapsContext, <%= all_zone_totals_90_percentile_bounds %>);

    map.initControls(<%= year_range %>);

  });
</script>