<div class='row chart-widget summary'>
  <div class="col-xs-6 total-emissions">
    <%= render partial: 'shared/plotly_chart_embed', locals: { o: @total_chart } %>
  </div>
  <div class="col-xs-6 summary-statistics">
    <h4>Total Reductions</h4>
    <table class="table table-hover">
      <thead>
        <td>Scenario</td>
        <td>tCO2e</td>
        <td>tCO2e per capita</td>
        <td>%</td>
        <td>% per capita</td>
      </thead>
      <tr>
        <td>Turtle</td>
        <td>302.01</td>
        <td>1.23</td>
        <td>87.1%</td>
        <td>5.4%</td>
      </tr>
      <tr>
        <td>Osprey</td>
        <td>302.01</td>
        <td>1.23</td>
        <td>87.1%</td>
        <td>5.4%</td>
      </tr>
    </table>
  </div>
</div>
<div class='row chart-widget by-factor-area-charts'>
  <nav class="navbar navbar-default">
    <p class="navbar-text">Projected emissions broken down by</p>
    <div class="col-xs-2 factor-select">
      <%= select_tag :factor,
        options_for_select([['Sector', 'by-sector'], ['Fuel Type', 'by-fuel-type']], 'by-sector'),
        class: "form-control input-sm fedora panes" %>
    </div>
  </nav>
  <div class="pane active" id='by-sector'>
    <% @by_sector_charts.each do |chart| %>
      <div class="col-xs-4">
        <%= render partial: 'shared/plotly_chart_embed', locals: { o: chart } %>
      </div>
    <% end %>
  </div>
  <div class="pane" id='by-fuel-type'>
    <% @by_fuel_type_charts.each do |chart| %>
      <div class="col-xs-4">
        <%= render partial: 'shared/plotly_chart_embed', locals: { o: chart } %>
      </div>
    <% end %>
  </div>
</div>
<div class='row chart-widget maps'>
  <nav class="navbar navbar-default">
    <div id='cc1' class='col-xs-6 choropleth-controls'>
      <%= render partial: 'choropleth_controls' %>
    </div>
    <div id='cc2' class='col-xs-6 choropleth-controls'>
      <%= render partial: 'choropleth_controls' %>
    </div>
  </nav>
  <div class='col-xs-6'>
    <div id='cm1' class='choropleth-map'></div>
  </div>
  <div class='col-xs-6'>
    <div id='cm2' class='choropleth-map'></div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    togglePanes($('.by-factor-area-charts'));

    var
    $mapsContext = $('.chart-widget.maps'),
    map = twinChoropleths($mapsContext, <%= all_zone_totals_90th_percentile %>);

    map.initControls(<%= year_range %>);

  });
</script>