<div class='row chart-widget summary'>
  <div class="col-xs-6 total-emissions">
    <h5 class='text-center'>Projected Yearly Emissions</h5>
    <%= render partial: 'shared/plotly_chart_embed', locals: { o: @total_chart } %>
  </div>
  <div class="col-xs-6 summary-statistics">
    <h5>Projected Reductions</h5>
    <div class='reductions-benchmarks'>
      <div class="radio sandals">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Over 2015 (Baseline Year)
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          Over
          <i class='colour-swatch scenario' style='background-color: #1f77b4'></i>
          Business As Usual (2050)
        </label>
      </div>
    </div>
    <table class="table table-hover emissions-reductions">
      <thead>
        <td>Scenario</td>
        <td>tCO2e</td>
        <td>tCO2e per capita</td>
        <td>%</td>
        <td>% per capita</td>
      </thead>
      <%= render partial: 'row', collection: @scenarios %>
    </table>
  </div>
</div>
<div class='row chart-widget by-factor-area-charts'>
  <nav class="navbar navbar-default subnav">
    <h4 class="navbar-text">Emissions by</h4>
    <div class="btn-group toggle" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="radio" name="toggle-factor" id="by-sector" autocomplete="off" checked> Sector
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="toggle-factor" id="by-fuel-type" autocomplete="off"> Fuel Type
      </label>
    </div>
  </nav>
  <div class="pane active" id='by-sector'>
    <%= render partial: 'area_chart', collection: @by_sector_charts %>
    <div class='legend'>
      <%= render partial: 'factor_label', collection: @sectors %>
    </div>
  </div>
  <div class="pane" id='by-fuel-type'>
    <%= render partial: 'area_chart', collection: @by_fuel_type_charts %>
    <div class='legend'>
      <%= render partial: 'factor_label', collection: @fuel_types %>
    </div>
  </div>
</div>
<div class='row chart-widget maps'>
  <nav class="navbar navbar-default subnav">
    <h4 class="navbar-text">Emissions by Census Tract</h4>
  </nav>
  <div class='col-xs-5'>
    <%= render partial: 'choropleth_controls' %>
    <div id='cm1' class='choropleth-map'></div>
  </div>
  <div class='col-xs-5'>
    <%= render partial: 'choropleth_controls' %>
    <div id='cm2' class='choropleth-map'></div>
  </div>
  <div class='col-xs-2'>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    togglePanes($('.by-factor-area-charts'));

    var
    $mapsContext = $('.chart-widget.maps'),
    map = twinChoropleths($mapsContext, <%= all_zone_totals_90th_percentile %>);
    map.initForms();

    toggleMapForms($('.maps'));


  });
</script>