<!DOCTYPE html>
<html>
<head>
  <title>CityInSight</title>
  <!-- D3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Plotly.js -->
  <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top primary">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="branding" href="#">
          <%= image_tag asset_path('cityinsight_logo.png'), class: 'logo' %>
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></a>
            <ul class="dropdown-menu">
              <li class="title">Projections</li>
              <li><%= link_to 'Urban Form', urban_form_index_path %></li>
              <li><%= link_to 'Transportation', transportation_index_path %></li>
              <li><%= link_to 'Energy', energy_index_path %></li>
              <li><%= link_to 'Emissions', emissions_path %></li>
              <li><%= link_to 'Energy Flow Sankey', energy_flows_path %></li>
              <li><%= link_to 'Marginal Abatement', marginal_abatement_index_path %></li>
              <li role="separator" class="divider"></li>
              <li class='title'>Assumptions</li>
              <li><%= link_to 'Demographics', demographics_path %></li>
            </ul>
          </li>
        </ul>
        <h4 class="navbar-text theme-title bold"><%= theme_title %></h4>
      </div>
    </div>
  </nav>
  <div id="main-container" class="container-fluid">
    <div id="content" class="col-xs-12">
      <!--  main content -->
      <%= yield %>
    </div>
    <div id='footer' class='text-center col-xs-12'>
      <small>CityInSight is a service of <a href="http://www.ssg.coop/">Sustainability Solutions Group</a> ~ Data modelling by <a href="http://whatiftechnologies.com/">whatIf? Technologies Inc.</a> ~ Web development and data visualizations by <a href="https://github.com/leonL">Leon Lukashevsky</a></small>
    </div>
  </div>
</body>
</html>
