<!DOCTYPE html>
<html>
<head>
  <title>GhgProofDashboard</title>
  <!-- D3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Plotly.js -->
  <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top primary">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="branding" href="#">
          <%= image_tag asset_path('cityinsight_logo.png'), class: 'logo' %>
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Emissions</a></li>
              <li><a href="#">Urban Form</a></li>
              <li><a href="#">Demographics</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Scenarios</a></li>
            </ul>
          </li>
        </ul>
        <h4 class="navbar-text theme-title bold">Greenhouse Gas Emissions</h4>
      </div>
    </div>
  </nav>
  <div id="main-container" class="container-fluid">
    <div id="content" class="col-xs-12">
      <!--  main content -->
      <%= yield %>
    </div>
  </div>
</body>
</html>
